.general-grid {
    display: grid;
    grid-template-rows: 1fr fit-content(10ch);
    row-gap: 1em;
    position: absolute;
    top: 0;
    bottom: 1em;
    left: 0;
    right: 0;

}

.form-grid {
    display: grid;
    grid-template-columns: fit-content(10em) fit-content(5em);
    row-gap: 0.5em;
    column-gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.grid-item-two-column {
    grid-column: 1 / span 2;
}

.no-such-place-error-inactive {
    display: none;
}

.no-such-place-error-active {
    border: 1px solid darkred;
    background-color: lightpink;
    text-align: center;
}
